body {
    background-color: lightcoral;
}

#container {
    margin-top: 20px;
    margin-left: 250px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "head secundaria" "nav  secundaria";
}

.principal {
    position:relative;
    grid-area: head;
    height: 360px;
    width: 640px;
    border: solid black 5px;
}
.principal video {
    position:absolute;
    z-index:0;
}

#videos {
    border: solid black 5px;
    grid-area: secundaria;
    display: grid;
    width: 190px;
    height: 600px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
}
#publi{

width: 300px;
height: 200px;
background: yellow;
position: absolute;
margin-top: 100px;
margin-left: 170px;
z-index:1;

}
#publi p{
    text-align: center;
    font-size: 3em;
}

#publi button{
    font-size: 1.5em;
    float: right;
    background: none;
    border: none;
    visibility: hidden;
  
}

#videos * {
  
    width: 180px;
    height: 150px;
}



#controles {
    border: solid black 5px;
    height: 50px;
    width: 640px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-area: nav;
    justify-items: center;
}

#number {
    font-size:50px;
    color:black;
    position: absolute;
    z-index: 1;
    margin-left: 420px;
    margin-top: 250px;
  }
/*Hijos*/

#controles * {
    height: 50px;
    width: 50px;
}

.silenciar {
    content: url("../media/volume_off-24px.svg");
}

.menos10 {
    content: url("../media/arrow_back_ios-24px.svg");
}

.playPause {
    content: url("../media/play_arrow-24px.svg");
}

.mas10 {
    content: url("../media/arrow_forward_ios-24px.svg");
}

.reiniciar {
    content: url("../media/subdirectory_arrow_left-24px.svg");
}

.bajarVolumen {
    content: url("../media/add-24px.svg");
}

.subirVolumen {
    content: url("../media/remove-24px.svg");
}